{% extends 'base.html' %}
{% block content %}
<form action="/registerForVaccinationDistrictForm" method="POST" style="margin:100px 200px;">
    {% csrf_token %}
    <div class="form-group">
        <b><label for="exampleFormControlSelect1">Select Center</label></b>
        <select class="form-control" name="district_center" required>
            <option value="" selected>Open this select menu</option>
            {% for district_center in  district_centers %}
            <option value="{{ district_center }}" style="text-transform: capitalize;">{{ district_center }}</option>
            {% endfor %}
        </select><br>
    </div>
       
    <button type="submit" class="btn btn-dark">Submit</button>
</form>

{% endblock %}

